* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:"Segoe UI", 'Noto Sans', sans-serif; 
	font-size: 16px;
}

.container {
	background-color: #f2f2f2;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	width: 420px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fafafa;
}

.header {
	height: 60px;
	background-color: #4c6da6;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%,rgba(255, 255, 255, 0.1) 100%);
}

.header h1 {
  	color: #ffffff;
  	font-size: 1.4em;
  	line-height: 60px;
  	padding-left: 30px;
  	float: left;
}

.social-list {
	height: 100%;
	float: right;
	list-style-type: none;
}

.social-item {
	display: inline-block;
	height: 100%;
	width: 70px;
	border-left: 1px solid #3f5f95;	
}

.social-item > a {
	display: block;
	height: 100%;
	width: 100%;
}

.fb {
	background: url("../img/facebook.png") no-repeat center; 	
}

.twitter {
	background: url("../img/twitter.png") no-repeat center; 	
}

.google {
	background: url("../img/google.png") no-repeat center; 	
}


.main {
	padding: 60px 30px 50px 30px;
}

input {
    -webkit-appearance: none;
    outline: none;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    height: 55px;
	width: 100%;
	padding-left: 20px;
	font-size: 1.2em;
	background-color: #f9f9f9;
	}

	input:focus { 
    background-color:#ffffff;
}
	

.email {
	background: url("../img/email.png") no-repeat right;
	background-position: 95%;
	margin-bottom: 20px;
}

.password { 
	background: url("../img/locked.png") no-repeat right;
	background-position: 95%;
	margin-bottom: 30px;
}

.login {
	width: 100%;
	height: 55px;
	border-radius: 4px;
	background-color: #f35259;
	color: #ffffff;
	font-weight: bold; 
	font-size: 1.2em;
	line-height: 55px;
	cursor: pointer;
	border: none;
}

.footer {
	height: 60px;
	background-color: #f4f3f4;
	font-size: 18px;
	text-align: center;
	color: #929292;
	line-height: 60px;
}

.footer a {
	text-decoration: none;
	color: #f35b61;
	font-size: 18px;
}


